mosgis-ejb/src/main/resources/gis_zhkh/wsdl/uk/hcs-uk-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by S (H) -->
<!---->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/uk/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:ns="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dom.gosuslugi.ru/schema/integration/uk/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="11.2.0.2">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/uk/" schemaLocation="hcs-uk-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="importDocumentRegionRequest">
		<wsdl:part name="importDocumentRegionRequest" element="tns:importDocumentRegionRequest"/>
	</wsdl:message>
	<wsdl:message name="importDocumentRegionResult">
		<wsdl:part name="importDocumentRegionResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="importDocumentMunicipalRequest">
		<wsdl:part name="importDocumentMunicipalRequest" element="tns:importDocumentMunicipalRequest"/>
	</wsdl:message>
	<wsdl:message name="importDocumentMunicipalResult">
		<wsdl:part name="importDocumentMunicipalResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="exportDocumentRequest">
		<wsdl:part name="exportDocumentRequest" element="tns:exportDocumentRequest"/>
	</wsdl:message>
	<wsdl:message name="exportDocumentResult">
		<wsdl:part name="exportDocumentResult" element="tns:exportDocumentResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:portType name="UkPort">
		<wsdl:operation name="importDocumentsRegion">
			<wsdl:documentation>Импорт документов закона/нормативно-правового акта регионального уровня</wsdl:documentation>
			<wsdl:input message="tns:importDocumentRegionRequest"/>
			<wsdl:output message="tns:importDocumentRegionResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importDocumentsMunicipal">
			<wsdl:documentation>Импорт документов закона/нормативно-правового акта уровня муниципальных образований</wsdl:documentation>
			<wsdl:input message="tns:importDocumentMunicipalRequest"/>
			<wsdl:output message="tns:importDocumentMunicipalResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportDocuments">
			<wsdl:documentation>Экспорт документов</wsdl:documentation>
			<wsdl:input message="tns:exportDocumentRequest"/>
			<wsdl:output message="tns:exportDocumentResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UkBinding" type="tns:UkPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importDocumentsRegion">
			<wsdl:documentation>Импорт документов закона/нормативно-правового акта регионального уровня</wsdl:documentation>
			<soap:operation soapAction="urn:importDocumentRegion"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importDocumentsMunicipal">
			<wsdl:documentation>Импорт документов закона/нормативно-правового акта уровня муниципальных образований</wsdl:documentation>
			<soap:operation soapAction="urn:importDocumentMunicipal"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportDocuments">
			<wsdl:documentation>Экспорт документов</wsdl:documentation>
			<soap:operation soapAction="urn:exportDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UkService">
		<wsdl:documentation>Сервис Управление контентом</wsdl:documentation>
		<wsdl:port name="UkPort" binding="tns:UkBinding">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-uk-service/services/Uk"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
